@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');

html {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Balsamiq Sans', cursive;
  color: #0a3a83;
  background: whitesmoke;
}

h1  {
  font-size:3rem;
  font-weight: bold;
  text-align: center;
  margin-top:10px;
  letter-spacing: 5px;
  /*border-bottom : solid;*/
}

.loader {
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background:rgba(255,255,255,0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: whitesmoke;
}

.topbtn {
  border-radius: 50%;
  background-color: #0a3a83;
  position: fixed;
  bottom: 50px;
  right: 30px;
  font-size: 18px;
  border: none;
  width: 50px;
  height:50px;
  color: whitesmoke;
  border: none;
  outline: none;
  
}

.topbtn:hover {
  background-color: #3e84ec;
  cursor: pointer;
}


.image-container {
  /*display: flex;
  flex-direction: column;
  justify-content: center;  */
  margin: 10px 30%;  
}

.image-container img {
  width: 100%;
  margin-top : 5px; 
 
  border-radius: 10px; 
}

/* Media Query for phones */
@media screen and (max-width:600px) {
  h1 {
    font-size: 20px;
  }

  .image-container {
    margin: 10px;
  }
}
  